<nav class="home-nav">
  <div class="wrapper">
    <div class="nav-content">
      <a href="" class="nav-logo p-0 m-0">
        <h3 class="p-0 m-0 text-white">Code Alms</h3>
      </a>
      <p class="nav-sub p-0 m-0">
        blog
      </p>
    </div>

  </div>
</nav>