<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <h4 class="text-white"> Blog - Alms</h4>
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/admin/categories" class="nav-link">Categorias</a>
    </li>
    <li class="nav-item">
      <a href="/admin/articles" class="nav-link">Artigos </a>
    </li>
  </ul>
</nav>